# Uppdate the connection string and database to the proper target
# Set the collection names as needed
# ex: MONGO_COLLECTION_EXAMPLE = examples
MONGO_DB_CONNECTION_STRING = 
MONGO_DATABASE = 
MONGO_COLLECTION_CATEGORIES = 
MONGO_COLLECTION_SETS = 
MONGO_COLLECTION_PRODUCTS = 
MONGO_COLLECTION_SKUS = 
MONGO_COLLECTION_PRICES = 